*{
    background-color: black;
    text-align: center;
}
a{
    display: inline-block;
}
h1{
    color:white;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.applink{
    color: aquamarine;
    font-size: 16px;
    margin-bottom: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#heading2{
    color: white;
    font-size: 42px;
    font-weight: 300px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#paragragh2{
    color: grey;
    font-size: 21px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 25px;
}
#icon{
    margin-top: 25px;
}

#footerp{
    color: white;
    font-size: 42px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}